@import 'src/styles/breakpoints.scss';
@import 'src/styles/theme.scss';

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 10px 0 10px 0;
	height: fit-content;
}

.message {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.start_time {
	font-size: 13px;
	line-height: 19px;
	color: var(--color-secondary);
	padding-top: 10px;
}

.welcome {
	font-size: 15px;
	line-height: 19px;
	color: var(--color-secondary);
}

.input_wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 6%;
	margin-bottom: 40px;
	border: 1px solid var(--border-secondary);
	border-left: none;
	border-radius: 2px;

	@media (max-width: $laptop) {
		margin-bottom: 0;
	}
}

.textarea {
	width: 100%;
	border: none;
	font-size: 15px;
	outline: none;
	resize: none;
	background: var(--bg-primary);
	color: var(--color-primary);
}

.textarea_wrapper {
	display: flex;
	width: 80%;
	padding: 5px 10px 5px 10px;
	background: var(--bg-primary);
	border-radius: 2px;

	:focus-within {
		border: 1px solid var(--border-tertiary);
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	font-size: 20px;
	font-variant: all-petite-caps;
	font-weight: bold;
	border: none;
	cursor: pointer;
	background: var(--bg-primary);
	border-left: 1px solid var(--border-secondary);

	:focus {
		outline: 1px solid var(--border-tertiary);
		border-radius: 2px;
	}

	:active {
		outline: none;
		border: 1px solid var(--border-tertiary);
	}
}

.form {
	display: flex;
	width: 100%;
	border: none;
	outline: none;
}

.svg {
	fill: var(--color-primary);
}

.messages {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 10px 0 10px 0;
	overflow: auto;
}
