@import 'theme.scss';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

body {
	background-color: var(--bg-primary);
	color: var(--color-primary);
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif;
}
