@import 'theme.scss';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('ttf');
}

body {
	background-color: var(--bg-primary);
	color: var(--color-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Source Sans Pro', sans-serif;
}

:root {
	--toastify-text-color-dark: var(--color-primary) !important;
	--toastify-color-dark: var(--bg-tertiary) !important;

	--toastify-text-color-light: var(--color-primary) !important;
	--toastify-color-light: var(--bg-tertiary) !important;
}

.Toastify__toast {
	border-radius: 10px !important;
}
